@font-face{
	font-family: PinyonScript-Regular;
	src:url(fuentes/PinyonScript-Regular.ttf);
}
@font-face{
	font-family: LobsterTwo-Italic;
	src:url(fuentes/LobsterTwo-Italic.ttf);
}
@font-face{
	font-family: LobsterTwo-Regular;
	src:url(fuentes/LobsterTwo-Regular.ttf);
}
